apiVersion: v1
kind: Service
metadata:
  name: antidote-exposer
  labels:
    app: antidote
    type: exposer-service
spec:
  type: LoadBalancer
  ports:
  - port: 8087
    name: antidote-pb
  selector:
    app: antidote
    statefulset.kubernetes.io/pod-name: antidote-0
